<% layout('layouts/boilerplate') %>

    <section class="mb-5 mx-4">
        <h2 class="section-title text-center">How do you feel now? </h2>
        <div class="container mt-5">
            <div class="row">
              <div class="col-md-5 card mx-2">
                <img class="w-100 h-100" src="images/reflect.jpg"  alt="reflect">
              </div>
              <div class="col-md-6 mx-1">
                <div class="container">
                  <form>
                      <div class="form-group mb-4">
                          <label for="inputField">I feel..</label>
                          <input type="text" class="form-control" id="inputField" placeholder="Enter text">
                      </div>
                      <label for="customRange1" class="form-label">Did this activity help?</label>
                      <input type="range" class="form-range" id="customRange1">
                      
                      <div class="form-group mt-4 mb-3">
                          <label for="textarea">Notes:</label>
                          <textarea class="form-control" id="textarea" rows="4" placeholder="Enter text"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Done</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section>