/* .btn{
     --bs-btn-bg:;
}  
*/
.card{
    padding-left:0 !important;
    padding-right:0 !important;
    border-color:var(--sunshine) !important;
    border-width:15px !important;
}

input[type="range"]::-moz-range-thumb, .reflect-btn{
    background-color:var(--persion-jewel) !important;
}

.reflect-btn{
  --bs-btn-border-radius:15px !important;
  --bs-btn-border-color:none !important;
  --bs-btn-hover-bg:rgb(160, 160, 231) !important;
}
