/* .btn{
     --bs-btn-bg:;
}  
*/
.card{
    padding-left:0 !important;
    padding-right:0 !important;
    --bs-card-border-color:rgb(246, 246, 192) !important;
    border-width:15px !important;
}

input[type="range"]::-moz-range-thumb{
    background-color: red;
}

.btn{
    --bs-btn-bg:red !important;
}
